- function field(post, field){ return post.hasOwnProperty(field)? post[field] : defaults[field] }
- function arrayify(posts){ var A = []; for (s in posts){ posts[s].slug=s; A.push(posts[s])}; return A}
- function limit(posts, n){ return arrayify(posts).slice(0, n) }

//- FILTERS
- function no_index(p){ return p.slug !== "index" }
- function has_tag(tag){ return function(p){return field(p,"tags").indexOf(tag) > -1} }
- function posts_array(posts){ return arrayify(posts).filter(no_index) }

mixin icon(icon, classes)
  span(class="fa fa-#{ icon } #{ classes }")
  | 

mixin emoji(text, classes)
  span(class="fa-fw emoji #{ classes }")= text
  | 

mixin post_icon(post, classes)
  if post.emoji
    mixin emoji(post.emoji, classes)
  else
    mixin icon(field(post,'icon'), classes)

mixin tag(tag)
  - var post = public.tags._data[tag] || {'url':'/tags/#tag-'+ tag, 'icon': 'tag'}
  a(class="tag label label-default", href=post.url)
    mixin icon(post.icon)  #{tag}
  | 

mixin post_title(post, slug)
  if post.title
    = post.title
  else
    = slug.replace(/-/g,' ').replace(/([^\W_]+[^\s-]*) */g,function(w){return w.charAt(0).toUpperCase() + w.substr(1);})

mixin link(post, slug, path, icon)
  a(href="#{path || ''}/#{ slug }" class="post-link")
    if icon
      mixin icon(field(post,'icon'), "fa-fw")
    mixin post_title(post, slug)

mixin pretty_link(post, slug, path)
  mixin link(post, slug, path, true)

- var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
- function format_date(d){var D = new Date(d); return D.getDate()+' '+months[D.getMonth()]+' '+D.getFullYear()}

mixin date_label(d)
  span.label.label-info(data-raw=d) 
    mixin icon("calendar")
    span.date(data-raw=(new Date(d)))= format_date(d)
  | 

mixin post_summary(post, slug, path, hide_tags)
  .post-summary.media
      .pull-left(href='#')
          .media-object
            mixin post_icon(post, "fa-2x fa-fw page-icon")
      .media-body
        h4.media-heading
          mixin link(post, slug, path)
        p.description!= post.description
        .labels
          if post && post.date
            mixin date_label(post.date)
          unless hide_tags
            each tag in field(post,'tags')
              mixin tag(tag)

mixin post_index(section)
  each p in posts_array(public[section]._data)
    mixin post_summary(p, p.slug, "/"+section)

mixin post_list(section)
  - var limit = 5
  each p in posts_array(public[section]._data)
    li
      mixin pretty_link(p, p.slug, '/'+section)
